sql_connection do
  adapter  "mysql2"
  host     "${MYSQL_HOST}"
  username "${MYSQL_USER}"
  password "${MYSQL_PASS}"
  database "${MYSQL_DB}"
end

mongodb_connection do
  host     "${MONGO_HOST}"
  database "${MONGO_DB}"
end
